.container {
  margin: auto;
  padding: 2%;
  max-width: 50%;
  border-radius: 10px;
}

.itens {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.itens-hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid black;
  max-width: 30%;
  max-height: 30%;
  padding: 10%;
  border-radius: 5%;
}

.itens-hover img {
  margin-bottom: 25%;
  width: 60%;
  margin: 20%;
}

.itens-hover:hover {
  border-color: #f7931a;
  transition: 0.3s ease-in-out;
}

.ativo {
  border-color: #f7931a;
}

.form-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs {
  width: 80%;
  height: 3%;
  margin: 2% 0;
  text-align: center;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  text-decoration-color: black;
}

.inputs:focus {
  outline: none;
  text-decoration: none;
}

.inputs::placeholder {
  color: black;
}

.button {
  background-color: #f7931a;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 5px;
  margin: 2% auto;
}

.button:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

/* Tablet */
@media screen and (max-width: 768px) {
  .container {
    margin: 5% auto;
    width: 70%;
    height: 78vh;
  }

  .itens li img {
    width: 50%;
    margin: 20%;
  }

  .itens li {
    width: 30%;
    height: 20vh;
    margin: 3% 5%;
  }

  .inputs {
    margin: 3% auto;
  }
}

/* Celular */
@media screen and (max-width: 600px) {
  .container {
    margin: 5% auto;
    width: 85%;
  }

  .itens li {
    width: 30%;
    height: 15vh;
    margin: 3% 5%;
  }

  .inputs {
    width: 80%;
    height: 10vh;
    margin: 1.5% 9.5%;
    font-size: 1.6rem;
  }

  .button {
    font-size: 1.6rem;
    margin: 5% auto;
  }
}
