header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;

}

.menu-principal {
  background-image: linear-gradient(to bottom, #f7931a 93%, white);
  height: 16%;
}

.logo img {
  text-align: center;
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
}

.logo {
  position: relative;
  text-align: center;
}

.usuario {
  width: 20%;
  text-align: center;
}

.usuario h3 {
  font-size: 1.5rem;
  margin-bottom: 5%;
}

.usuario a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 1.5rem;
  width: 20%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .menu-principal {
    height: 10vh;
    background-color: gray;
  }

  .logo img {
    width: 3rem;
    margin-top: 0.5%;
  }

  h2 {
    margin-top: -7%;
    margin-left: 80%;
  }
}

@media screen and (max-width: 600px) {
  h2 {
    margin-top: -10%;
    margin-left: 70%;
  }
}
