header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.menu-principal {
  background-image: linear-gradient(to bottom, #f7931a 93%, white);
  height: 16%;
}

.logo img {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
}

.logo {
  grid-column: 2;
}

.usuario {
  width: 20%;
}

.usuario h3 {
  font-size: 1.5rem;
  margin-bottom: 5%;
}

.usuario a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 1.5rem;
  width: 20%;
  text-align: center;
}

@media screen and (max-width: 600px) {
  header {
    justify-items: flex-start;
  }

  .logo img {
    max-width: 80px;
    max-height: 80px;
    width: auto;
    height: auto;
  }

  .menu-principal {
    height: 15%;
  }

  h2 {
    font-size: 1rem;
  }

  h1, h2 {
    margin-left: 5%;
  }

  .usuario h3 {
    font-size: 1rem;
  }

  .usuario {
    margin-left: 10%;
  }
}
