<main class="container">
  <form
    class="form-principal"
    [formGroup]="dadosDeposito"
    (ngSubmit)="deposita()"
  >
    <input
      class="inputs"
      type="number"
      placeholder="Valor Depósito"
      formControlName="valor"
      [(ngModel)]="valor"
    />
    <app-mensagem
      *ngIf="
        dadosDeposito.get('valor')?.errors?.required &&
        dadosDeposito.get('valor')?.touched
      "
      mensagem="Valor Obrigatório"
    ></app-mensagem>
    <button class="button">Depositar</button>
  </form>
</main>
