<main class="container">
  <h1>Cadastrar-se</h1>
  <form
    class="form-principal"
    [formGroup]="novoUsuarioForm"
    (submit)="cadastrar()"
  >
    <div class="input-container">
      <input
        class="inputs"
        type="text"
        name="usuario"
        id="usuario"
        formControlName="usuario"
        placeholder="Usuário"
      />
      <app-mensagem
      *ngIf="
        novoUsuarioForm.get('usuario')?.errors?.minusculo &&
        novoUsuarioForm.get('usuario')?.touched
      "
      mensagem="Usuário Deve Ser Em Letras Minúsculas"
    >
    </app-mensagem>
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('usuario')?.errors?.required &&
        novoUsuarioForm.get('usuario')?.touched
      "
      mensagem="Usuário Obrigatório"
    >
    </app-mensagem>
    <app-mensagem
      *ngIf="novoUsuarioForm.get('usuario')?.errors?.usuarioExistente"
      mensagem="Usuário Já Existe"
    ></app-mensagem>
    </div>
    <div class="input-container">
      <input
        class="inputs"
        type="password"
        name="senha"
        id="senha"
        formControlName="senha"
        placeholder="Senha"
      />
      <app-mensagem
        *ngIf="novoUsuarioForm.errors?.senhaIgualUsuario"
        mensagem="Senha Não Pode Ser Igual Usuário"
      ></app-mensagem>
      <app-mensagem
        *ngIf="
          novoUsuarioForm.get('senha')?.errors?.required &&
          novoUsuarioForm.get('senha')?.touched
        "
        mensagem="Senha Obrigatória"
      ></app-mensagem>
    </div>
    <input type="hidden" name="saldo" value="0" formControlName="saldo">
    <button type="submit" class="btn" [disabled]="novoUsuarioForm.invalid">Cadastrar</button>
    <p class="texto">
      Ja é um usuário?<a [routerLink]="['/login']"> Faça o Login!</a>
    </p>
  </form>
</main>
