.principal {
  margin: 5% auto;
  text-align: center;
  width: 50%;
  height: 65vh;
  border-radius: 10px;
}

.form-principal {
  padding: 10% 6%;
}

.label {
  margin-top: 10px;
}

.inputs {
  margin: 3% auto;
  width: 75%;
  height: 3vh;
  display: block;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 1rem;
}

.inputs:focus {
  outline: none;
}

.btn {
  background-color: #f7931a;
  font-size: 1rem;
  border: none;
  border-radius: 2px;
  width: 25%;
  padding: 0.5rem;
}

.btn:hover {
  transition: 0.5s;
  background-color: #dd851a;
}

.texto {
  margin-top: 3%;
}

.texto a {
  text-decoration: none;
}
