<main class="container">
  <div class="itens">
    <button (click)="mudarCor('.cpf')" (click)="tipoNumber()" class="itens-hover cpf" [style]="stylePadrao">CPF</button>
    <button (click)="mudarCor('.cnpj')" (click)="tipoNumber()" class="itens-hover cnpj">CNPJ</button>
    <button (click)="mudarCor('.telefone')" (click)="tipoNumber()" class="itens-hover telefone">Telefone</button>
    <button (click)="mudarCor('.email')" (click)="tipoEmail()" class="itens-hover email">Email</button>
    <button (click)="mudarCor('.ca')" (click)="tipoChaveAleatoria()" class="itens-hover ca">
      Chave Aleatória
    </button>

  </div>

  <form class="form-principal" [formGroup]="dadosPix" (ngSubmit)="enviar()">
    <input
      class="inputs"
      [type]="type"
      name="chavePix"
      id="chavePix"
      placeholder="Chave Pix"
      formControlName="chavePix"
      required
    />
    <app-mensagem
      *ngIf="
        dadosPix.get('chavePix')?.errors?.required &&
        dadosPix.get('chavePix')?.touched
      "
      mensagem="Chave Pix Obrigatória"
    >
    </app-mensagem>
    <input
      [(ngModel)]="valor"
      class="inputs"
      type="number"
      name="valorPix"
      id="valorPix"
      placeholder="Valor Pix"
      formControlName="valorPix"
      required
    />
    <button
    class="button" type="submit"
    >Enviar</button>
  </form>
</main>
