.container {
  margin: auto;
  padding: 2%;
  max-width: 50%;
  border-radius: 10px;
}

.itens {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}

.itens-hover {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 3px solid black;
  max-width: 10%;
  max-height: 10%;
  padding: 45%;
  text-align: center;
  border-radius: 5%;
  font-size: 1.5rem;
  background-color: transparent;
}

.itens-hover:hover {
  border-color: #f7931a;
  transition: 0.3s ease-in-out;
}

.ativo {
  border-color: #f7931a;
}

.form-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs {
  width: 80%;
  height: 3%;
  margin: 2% 0;
  text-align: center;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  text-decoration-color: black;
}

.inputs:focus {
  outline: none;
  text-decoration: none;
}

.inputs::placeholder {
  color: black;
}

.button {
  background-color: #f7931a;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 5px;
  margin: 2% auto;
}

.button:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

/* Tablet */
@media screen and (max-width: 820px) {
  .container {
    max-width: 90%;
  }

  .inputs {
    width: 90%;
    margin: 5% 0;
  }

  .button {
    font-size: 2rem;

  }
}

/* Celular */
@media screen and (max-width: 600px) {
  .container {
    max-width: 90%;
  }

  .itens {
    grid-template-columns: repeat(3, 1fr);
  }

  .itens-hover {
    max-width: 25%;
    max-height: 25%;
    font-size: 1rem;
  }

  .inputs {
    width: 90%;
    margin: 8% 0;
  }
}
