.container {
  margin: auto;
  padding: 2%;
  max-width: 50%;
  border-radius: 10px;
}

.itens {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}

.itens-hover {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 3px solid black;
  max-width: 10%;
  max-height: 10%;
  padding: 45%;
  text-align: center;
  border-radius: 5%;
  font-size: 1.5rem;
  background-color: transparent;
}

.itens-hover:hover {
  border-color: #f7931a;
  transition: 0.3s ease-in-out;
}

.ativo {
  border-color: #f7931a;
}

.form-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs {
  width: 80%;
  height: 3%;
  margin: 2% 0;
  text-align: center;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  text-decoration-color: black;
}

.inputs:focus {
  outline: none;
  text-decoration: none;
}

.inputs::placeholder {
  color: black;
}

.button {
  background-color: #f7931a;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 5px;
  margin: 2% auto;
}

.button:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

/* Tablet */
@media screen and (max-width: 768px) {
  .container {
    width: 80%;
    height: 80vh;
    margin: 4% auto;
  }

  .itens li {
    width: 25%;
    padding: 5% 0%;
  }

  .inputs {
    margin: 3% 9.5%;
  }

  .form-principal {
    margin: auto;
  }
}


/* Celular */
@media screen and (max-width: 600px) {
  .container {
    margin: 11% auto;
    width: 85%;
    height: 75vh;
  }

  .itens li {
    font-size: 1.4rem;
    width: 30%;
    margin: 4% 1%;
    padding: 10% 0%;
  }

  .inputs {
    width: 80%;
    height: 3vh;
    margin: 5% 9.5%;
  }

  .form-principal {
    margin: 3% auto;
  }
}
