<main class="container">
  <ul class="itens">
    <li class="itens-hover" [routerLink]="['/home/pix']">
      <img src="assets/img/icone-pix.png" />
      <h2>Pix</h2>
    </li>
    <li class="itens-hover" [routerLink]="['/home/recarga-celular']">
      <img src="assets/img/icone-recarga.png" />
      <h2>Recarga De Celular</h2>
    </li>
  </ul>
  <ul class="itens2">
    <li class="itens-hover" [routerLink]="['/home/deposito']">
      <img src="assets/img/icone-deposito.png" />
      <h2>Depósito</h2>
    </li>
    <li class="itens-hover" [routerLink]="['/home/extrato']">
      <img src="assets/img/icone-extrato.png" />
      <h2>Extrato</h2>
    </li>
  </ul>
</main>
