.container {
  margin: 3% auto;
  text-align: center;
  width: 50%;
  height: 74vh;
  backdrop-filter: saturate(180%) blur(6px);
  border-radius: 10px;
}

.itens li {
  display: inline-block;
  text-align: center;
  width: 30%;
  height: 30vh;
  vertical-align: top;
  margin: 4% 1.5%;
  padding: 30px 10px;
  box-sizing: border-box;
  border: 3px solid #000000;
  border-radius: 10px;
}

.itens-hover:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.itens li:first-child {
  padding: 38px 10px;
}

.itens2 li {
  display: inline-block;
  text-align: center;
  width: 30%;
  height: 30vh;
  margin: 1% 1.5% 0 1.5%;
  padding: 40px 10px;
  box-sizing: border-box;
  border: 3px solid #000000;
  border-radius: 10px;
}

.itens,
.itens2 li h2 {
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
}

/* Tablet */
@media screen and (max-width: 768px) {
  .container {
    position: relative;
    margin: 5% auto;
    text-align: center;
    width: 75%;
    height: 78vh;
  }

  .itens li {
    width: 37%;
    height: 32vh;
    margin: 4% 1.5%;
    padding: 25px 10px;
  }

  .itens2 li {
    width: 37%;
    height: 32vh;
    margin: 4% 1.5%;
    padding: 45px 10px;
  }
}

/* Celular */

@media screen and (max-width: 600px) {
  .container {
    position: relative;
    margin: 5% auto;
    text-align: center;
    width: 80%;
    height: 81vh;
  }

  .itens li {
    width: 40%;
    height: 35vh;
    margin: 4% 1.5%;
    padding: 25px 10px;
  }

  .itens2 li {
    width: 40%;
    height: 35vh;
    margin: 4% 1.5%;
    padding: 40px 10px;
  }
}

